<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <a href="/users/:userId/foods/new">Add New Item</a>
    <h1>Welcome to my Pantry</h1>
    <h1>Your Pantry</h1>
    <a href="/users/<%=user._id%>/foods/new">Add an Item</a>
    <!-- Add the following: -->
    <ul>
        <% foods.forEach((foods)=>{ %>
          <li>
            <!-- Add a link around each application, directing to the 'show' page -->
            <a href="/users/<%= user._id %>/foods/<%= foods._id %>">
                <%= foods.itemName %>
            </a>
            <%= foods.category %>
          </li>
        <% }) %>
      </ul>
  </body>
</html>